@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Poppins:wght@300;400;600&display=swap');

h1, h2, #search-input {
    font-family: "Gloock", serif;
}

h3, h4, h4, h6, p {
    font-family: "Poppins", sans-serif
}

#search-button {
    font-family: "Gloock", serif;
}