@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Poppins:wght@300;400;600&display=swap');


h1, h2, h3, #search-input {
    font-family: "Gloock", serif;
}

h4, h5, p {
    font-family: "Poppins", sans-serif;
}

#search-button {
    font-family: "Gloock", serif;
}

hr {
    background-color: #FFF;
}

#forecastCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#weatherDisplay, #searchBar, #forecastWeather {
    padding: 1.2rem;
}
